<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="cache-control" content="max-age=3600">
    <title> {% if page.title %} {{ page.title }} | {% endif %} Architecture Text Readers Anonymous Phalanstery</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:300px;}
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
      <h1><a href="/index.html">ATRAP</a></h1>
        <p>Architecture Text Readers Anonymous Phalanstery</p>
        <p>An architecure book and essay reading group. Architectural Institute in Prague, Thursdays at 17:30.</p>


        <ul>
          <li><a href="/about.html">something<strong>about</strong></a></li>
          <li><a href="/principles.html">basic<strong>principles</strong></a></li>
          <li><a href="/curriculum.html">loose<strong>curriculum</strong></a></li>
        </ul>
    <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="http://atrap.us6.list-manage1.com/subscribe/post?u=e30159adef4b05446cf9c7847&amp;id=a78dd7a1a1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Sign up:</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
        </div>
    <!--End mc_embed_signup-->

    </header>
    <section>

        {{content}}

    </section>
    <footer>
    <p>
    This project is maintained by <a href="http://zmlka.com">Martin Zemlicka</a></br>
    <a href="http://github.com/zmlka/atrap.org">Source</a>
    </p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-35538364-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
